asgiref==3.7.2
asttokens==2.4.1
devtools==0.12.2
Django==4.2.7
django-cors-headers==4.3.1
django-simple-history==3.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
executing==2.0.1
inflection==0.5.1
packaging==23.2
Pillow==10.1.0
Pygments==2.17.2
PyJWT==2.8.0
pytz==2023.3.post1
PyYAML==6.0.1
setuptools==69.0.2
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
uritemplate==4.1.1
